body {
  background-image: url(https://images.unsplash.com/photo-1554050857-c84a8abdb5e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80);
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
  min-height: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  justify-content: center;
}

.container {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius:20px;
}

.App {
  max-width: 600px;
  margin: 30px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}