.conditionBox {
  text-shadow: 0 3 5px rgb(12, 10, 10), 0 0 3px, #fff;
  text-transform: capitalize;
}
.conditionBox ul {
  list-style-type: none;
}
.mainInfo {
      position: relative;
    margin-top: -8%;
    left: 18%;
    width: 57%;
    font-size: 57px;
  }

.units {
  position: relative;
  
}
p {
  font-size: 31px;
}

.temperature {
  font-size: 57px;
}

 a { 
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.celsius
.fahrenheit {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
}


.feels-like {
    position: relative;
    font-size: 17px;
    left: 46px;
}
.feel {
  position: relative;
  text-align: center;
  font-size: 17px;
}

.conditionBox,
.infoBox {
  position: relative;
  color: #ffffff;
background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  background-blend-mode: multiply;  
box-shadow: 6px 1px 3px 1px 323232;
  border: 1px transparent #3d3b3b;
}

.currentEmoji {
    position: relative;
    width: 50%;
    right: 33px;
    top: 52px;
}


