h1 {
  padding-top: 139px;
  font-size: 56px;
}
h1,
h5 {
  color: #fff;
  text-shadow: 0 3 5px rgb(12, 10, 10), 0 0 3px, #fff;
  text-align: center;

}
h5 ul {
  list-style-type: none;
  margin-top: 14px;
  opacity: 0.8;
  padding-bottom: 19px;
  font-size: 15px;
  color: #fff;
}
