.search-form {
  padding-top: 50px;
  width: 0%;
}
.search-Button,
.location-search {
  color: #ffff;
  font-size: 12px;
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  background-blend-mode: multiply;
  box-shadow: 4px 1px 3px 1px #323232;
}
.search-text-input,
.search-Button,
.location-search {
  border-radius: 17px;
  padding: 12px;
  margin-left: 10px;
}

#locationButton {
  position: relative;
  width: 42%;
  left: 58%;
}
