.search-form {
  padding-top: 50px;
  width: 0%;
}
.search-Button,
.location-search {
  color: rgb(0, 0, 0);
  font-size: 12px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-blend-mode: multiply;
  box-shadow: 4px 1px 3px 1px #323232;
}
.search-text-input,
.search-Button,
.location-search {
  border-radius: 17px;
  padding: 12px;
  margin-left: 10px;
}

#locationButton {
  position: relative;
  width: 42%;
  left: 58%;
}
