.Weather {
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
}

.Weather h1 {
  font-size: 30px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 29px;
  list-style: none;
}

.Weather .temperature {
color: rgb(255, 255, 255);
    font-size: 37px;
    margin-right: 100px;
    font-weight: 400;
}

.Weather canvas {
    margin-top: 2%;
}

.Weather .unit {
color: #FFFF;
    font-size: 23px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    right: 97px;
    bottom: 11px;
}