.infoBox ul {
    list-style-type: none;
    display: inline;
    position: relative;
    font-size: 23px;
    bottom: 146px;
    left: 108px;
}

.visibility {
  font-size: 23px;
}
.humidity {
  font-size: 23px;
}
.wind {
  font-size: 23px;
}
.maxTemp {
  font-size: 23px;
}
.minTemp {
  font-size: 23px;
}
