.conditionBox {
  text-shadow: 0 3 5px rgb(12, 10, 10), 0 0 3px, #fff;
  text-transform: capitalize;
}
.conditionBox ul {
  list-style-type: none;
}
.mainInfo {
position: relative;
    margin-top: 21%;
    right: 100%;
    width: 182%;
  }

.units {
  position: relative;
  
}
p {
  font-size: 31px;
}

.temperature {
    font-size: 55px;
}

 a { 
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.celsius
.fahrenheit {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
}


.feels-like {
    position: relative;
    font-size: 17px;
    left: 39px;
}
.feel {
  position: relative;
  text-align: center;
  font-size: 17px;
}

.conditionBox,
.infoBox {
  position: relative;
  color: #ffffff;
}

.currentEmoji {
    position: relative;
    width: 49%;
    left: 10px;
    top: 1px;
}

.infoBox ul {
    list-style-type: none;
    display: inline;
    position: relative;
    font-size: 23px;
    bottom: 213px;
    left: 212px;
}



.visibility {
  font-size: 23px;
}
.humidity {
  font-size: 23px;
}
.wind {
  font-size: 23px;
}
.maxTemp {
  font-size: 23px;
}
.minTemp {
  font-size: 23px;
}

