.infoBox ul {
  list-style-type: none;
  display: inline;
  position: relative;
  font-size: 23px;
  top: 4px;
}
.visibility {
  font-size: 23px;
}
.humidity {
  font-size: 23px;
}
.wind {
  font-size: 23px;
}
.maxTemp {
  font-size: 23px;
}
.minTemp {
  font-size: 23px;
}
.conditionBox,
.infoBox {
  margin-top: 7px;
  height: 200px;
  border-radius: 28px;
}
